In [1]:
import pandas as pd
import os
import ta
import numpy as np
os.chdir(r"D:\stocks")

In [11]:
minute = os.listdir(r'D:\stocks')

In [12]:
minute

['2AFKS10.csv',
 '2AFKS10.csv.csv',
 '2AFKS15.csv',
 '2AFKS15.csv.csv',
 '2AFKS20.csv',
 '2AFKS20.csv.csv',
 '2AFKS25.csv',
 '2AFKS25.csv.csv',
 '2AFKS3.csv',
 '2AFKS3.csv.csv',
 '2AFKS30.csv',
 '2AFKS30.csv.csv',
 '2AFKS5.csv',
 '2AFKS5.csv.csv',
 '2AFKS7.csv',
 '2AFKS7.csv.csv',
 '2AFLT10.csv',
 '2AFLT10.csv.csv',
 '2AFLT15.csv',
 '2AFLT15.csv.csv',
 '2AFLT20.csv',
 '2AFLT20.csv.csv',
 '2AFLT25.csv',
 '2AFLT25.csv.csv',
 '2AFLT3.csv',
 '2AFLT3.csv.csv',
 '2AFLT30.csv',
 '2AFLT30.csv.csv',
 '2AFLT5.csv',
 '2AFLT5.csv.csv',
 '2AFLT7.csv',
 '2AFLT7.csv.csv',
 '2ALRS10.csv',
 '2ALRS10.csv.csv',
 '2ALRS15.csv',
 '2ALRS15.csv.csv',
 '2ALRS20.csv',
 '2ALRS20.csv.csv',
 '2ALRS25.csv',
 '2ALRS25.csv.csv',
 '2ALRS3.csv',
 '2ALRS3.csv.csv',
 '2ALRS30.csv',
 '2ALRS30.csv.csv',
 '2ALRS5.csv',
 '2ALRS5.csv.csv',
 '2ALRS7.csv',
 '2ALRS7.csv.csv',
 '2CHMF10.csv',
 '2CHMF10.csv.csv',
 '2CHMF15.csv',
 '2CHMF15.csv.csv',
 '2CHMF20.csv',
 '2CHMF20.csv.csv',
 '2CHMF25.csv',
 '2CHMF25.csv.csv',
 '2CHMF3.csv',
 '2CHMF3.csv.csv',
 '2CHMF30.csv',
 '2CHMF30.csv.csv',
 '2CHMF5.csv',
 '2CHMF5.csv.csv',
 '2CHMF7.csv',
 '2CHMF7.csv.csv',
 '2GAZP10.csv',
 '2GAZP10.csv.csv',
 '2GAZP15.csv',
 '2GAZP15.csv.csv',
 '2GAZP20.csv',
 '2GAZP20.csv.csv',
 '2GAZP25.csv',
 '2GAZP25.csv.csv',
 '2GAZP3.csv',
 '2GAZP3.csv.csv',
 '2GAZP30.csv',
 '2GAZP30.csv.csv',
 '2GAZP5.csv',
 '2GAZP5.csv.csv',
 '2GAZP7.csv',
 '2GAZP7.csv.csv',
 '2GMKN10.csv',
 '2GMKN10.csv.csv',
 '2GMKN15.csv',
 '2GMKN15.csv.csv',
 '2GMKN20.csv',
 '2GMKN20.csv.csv',
 '2GMKN25.csv',
 '2GMKN25.csv.csv',
 '2GMKN3.csv',
 '2GMKN3.csv.csv',
 '2GMKN30.csv',
 '2GMKN30.csv.csv',
 '2GMKN5.csv',
 '2GMKN5.csv.csv',
 '2GMKN7.csv',
 '2GMKN7.csv.csv',
 '2IMOEX10.csv',
 '2IMOEX10.csv.csv',
 '2IMOEX15.csv',
 '2IMOEX15.csv.csv',
 '2IMOEX20.csv',
 '2IMOEX20.csv.csv',
 '2IMOEX25.csv',
 '2IMOEX25.csv.csv',
 '2IMOEX3.csv',
 '2IMOEX3.csv.csv',
 '2IMOEX30.csv',
 '2IMOEX30.csv.csv',
 '2IMOEX5.csv',
 '2IMOEX7.csv',
 '2IRAO10.csv',
 '2IRAO10.csv.csv',
 '2IRAO15.csv',
 '2IRAO15.csv.csv',
 '2IRAO20.csv',
 '2IRAO20.csv.csv',
 '2IRAO25.csv',
 '2IRAO25.csv.csv',
 '2IRAO3.csv',
 '2IRAO3.csv.csv',
 '2IRAO30.csv',
 '2IRAO30.csv.csv',
 '2IRAO5.csv',
 '2IRAO5.csv.csv',
 '2IRAO7.csv',
 '2IRAO7.csv.csv',
 '2LKOH10.csv',
 '2LKOH10.csv.csv',
 '2LKOH15.csv',
 '2LKOH15.csv.csv',
 '2LKOH20.csv',
 '2LKOH20.csv.csv',
 '2LKOH25.csv',
 '2LKOH25.csv.csv',
 '2LKOH3.csv',
 '2LKOH3.csv.csv',
 '2LKOH30.csv',
 '2LKOH30.csv.csv',
 '2LKOH5.csv',
 '2LKOH5.csv.csv',
 '2LKOH7.csv',
 '2LKOH7.csv.csv',
 '2MGNT10.csv',
 '2MGNT10.csv.csv',
 '2MGNT15.csv',
 '2MGNT15.csv.csv',
 '2MGNT20.csv',
 '2MGNT20.csv.csv',
 '2MGNT25.csv',
 '2MGNT25.csv.csv',
 '2MGNT3.csv',
 '2MGNT3.csv.csv',
 '2MGNT30.csv',
 '2MGNT30.csv.csv',
 '2MGNT5.csv',
 '2MGNT5.csv.csv',
 '2MGNT7.csv',
 '2MGNT7.csv.csv',
 '2MTSS10.csv',
 '2MTSS10.csv.csv',
 '2MTSS15.csv',
 '2MTSS15.csv.csv',
 '2MTSS20.csv',
 '2MTSS20.csv.csv',
 '2MTSS25.csv',
 '2MTSS25.csv.csv',
 '2MTSS3.csv',
 '2MTSS3.csv.csv',
 '2MTSS30.csv',
 '2MTSS30.csv.csv',
 '2MTSS5.csv',
 '2MTSS5.csv.csv',
 '2MTSS7.csv',
 '2MTSS7.csv.csv',
 '2NLMK10.csv',
 '2NLMK10.csv.csv',
 '2NLMK15.csv',
 '2NLMK15.csv.csv',
 '2NLMK20.csv',
 '2NLMK20.csv.csv',
 '2NLMK25.csv',
 '2NLMK25.csv.csv',
 '2NLMK3.csv',
 '2NLMK3.csv.csv',
 '2NLMK30.csv',
 '2NLMK30.csv.csv',
 '2NLMK5.csv',
 '2NLMK5.csv.csv',
 '2NLMK7.csv',
 '2NLMK7.csv.csv',
 '2NVTK10.csv',
 '2NVTK10.csv.csv',
 '2NVTK15.csv',
 '2NVTK15.csv.csv',
 '2NVTK20.csv',
 '2NVTK20.csv.csv',
 '2NVTK25.csv',
 '2NVTK25.csv.csv',
 '2NVTK3.csv',
 '2NVTK3.csv.csv',
 '2NVTK30.csv',
 '2NVTK30.csv.csv',
 '2NVTK5.csv',
 '2NVTK5.csv.csv',
 '2NVTK7.csv',
 '2NVTK7.csv.csv',
 '2POLY10.csv',
 '2POLY10.csv.csv',
 '2POLY15.csv',
 '2POLY15.csv.csv',
 '2POLY20.csv',
 '2POLY20.csv.csv',
 '2POLY25.csv',
 '2POLY25.csv.csv',
 '2POLY3.csv',
 '2POLY3.csv.csv',
 '2POLY30.csv',
 '2POLY30.csv.csv',
 '2POLY5.csv',
 '2POLY5.csv.csv',
 '2POLY7.csv',
 '2POLY7.csv.csv',
 '2ROSN10.csv',
 '2ROSN10.csv.csv',
 '2ROSN15.csv',
 '2ROSN15.csv.csv',
 '2ROSN20.csv',
 '2ROSN20.csv.csv',
 '2ROSN25.csv',
 '2ROSN25.csv.csv',
 '2ROSN3.csv',
 '2ROSN3.csv.csv',
 '2ROSN30.csv',
 '2ROSN30.csv.csv',
 '2ROSN5.csv',
 '2ROSN5.csv.csv',
 '2ROSN7.csv',
 '2ROSN7.csv.csv',
 '2SBER10.csv',
 '2SBER10.csv.csv',
 '2SBER15.csv',
 '2SBER15.csv.csv',
 '2SBER20.csv',
 '2SBER20.csv.csv',
 '2SBER25.csv',
 '2SBER25.csv.csv',
 '2SBER3.csv',
 '2SBER3.csv.csv',
 '2SBER30.csv',
 '2SBER30.csv.csv',
 '2SBER5.csv',
 '2SBER5.csv.csv',
 '2SBER7.csv',
 '2SBER7.csv.csv',
 '2SNGS10.csv',
 '2SNGS10.csv.csv',
 '2SNGS15.csv',
 '2SNGS15.csv.csv',
 '2SNGS20.csv',
 '2SNGS20.csv.csv',
 '2SNGS25.csv',
 '2SNGS25.csv.csv',
 '2SNGS3.csv',
 '2SNGS3.csv.csv',
 '2SNGS30.csv',
 '2SNGS30.csv.csv',
 '2SNGS5.csv',
 '2SNGS5.csv.csv',
 '2SNGS7.csv',
 '2SNGS7.csv.csv',
 '2TATN10.csv',
 '2TATN10.csv.csv',
 '2TATN15.csv',
 '2TATN15.csv.csv',
 '2TATN20.csv',
 '2TATN20.csv.csv',
 '2TATN25.csv',
 '2TATN25.csv.csv',
 '2TATN3.csv',
 '2TATN3.csv.csv',
 '2TATN30.csv',
 '2TATN30.csv.csv',
 '2TATN5.csv',
 '2TATN5.csv.csv',
 '2TATN7.csv',
 '2TATN7.csv.csv',
 '2VTBR10.csv',
 '2VTBR10.csv.csv',
 '2VTBR15.csv',
 '2VTBR15.csv.csv',
 '2VTBR20.csv',
 '2VTBR20.csv.csv',
 '2VTBR25.csv',
 '2VTBR25.csv.csv',
 '2VTBR3.csv',
 '2VTBR3.csv.csv',
 '2VTBR30.csv',
 '2VTBR30.csv.csv',
 '2VTBR5.csv',
 '2VTBR5.csv.csv',
 '2VTBR7.csv',
 '2VTBR7.csv.csv',
 '2YNDX10.csv',
 '2YNDX10.csv.csv',
 '2YNDX15.csv',
 '2YNDX15.csv.csv',
 '2YNDX20.csv',
 '2YNDX20.csv.csv',
 '2YNDX25.csv',
 '2YNDX25.csv.csv',
 '2YNDX3.csv',
 '2YNDX3.csv.csv',
 '2YNDX30.csv',
 '2YNDX30.csv.csv',
 '2YNDX5.csv',
 '2YNDX5.csv.csv',
 '2YNDX7.csv',
 '2YNDX7.csv.csv',
 'fifteenminutes.csv',
 'sevenminutes.csv',
 'tenminutes.csv',
 'twentyfiveminutes.csv',
 'twentyminutes.csv']

In [13]:
list3 = list()
list5 = list()
list7 = list()
list10 = list()
list15 = list()
list20 = list()
list25 = list()
list30 = list()
for i in minute:
    if len(i) == 14 or len(i) == 15:
        i1 = i.strip('.csv')
        if i1[0] == '2':
            if i1[-1] == '3':
                list3.append(i)
            if i1[-1] == '7':
                list7.append(i)
            if i1[-1] == '5':
                if len(i1) == 6:
                    list5.append(i)
                if i1[-2] == '1':
                    list15.append(i)
                if i1[-2] == '2':
                    list25.append(i)
            if i1[-1] == '0':
                print(i1)
                if i1[-2] == '1':
                    list10.append(i)
                if i1[-2] == '2':
                    list20.append(i)
                if i1[-2] == '3':
                    list30.append(i)

2AFKS10
2AFKS20
2AFKS30
2AFLT10
2AFLT20
2AFLT30
2ALRS10
2ALRS20
2ALRS30
2CHMF10
2CHMF20
2CHMF30
2GAZP10
2GAZP20
2GAZP30
2GMKN10
2GMKN20
2GMKN30
2IRAO10
2IRAO20
2IRAO30
2LKOH10
2LKOH20
2LKOH30
2MGNT10
2MGNT20
2MGNT30
2MTSS10
2MTSS20
2MTSS30
2NLMK10
2NLMK20
2NLMK30
2NVTK10
2NVTK20
2NVTK30
2POLY10
2POLY20
2POLY30
2ROSN10
2ROSN20
2ROSN30
2SBER10
2SBER20
2SBER30
2SNGS10
2SNGS20
2SNGS30
2TATN10
2TATN20
2TATN30
2VTBR10
2VTBR20
2VTBR30
2YNDX10
2YNDX20
2YNDX30

In [11]:
list3 = list()
for i in minute:
    i1 = i.strip('.csv')
    if i1[-1] == '3':
        list3.append(i)

In [9]:
list30

[]

In [17]:
three = pd.concat([pd.read_csv(f) for f in list3])

In [18]:
three

,TICKER,OPEN,HIGH,LOW,CLOSE,VOL,sma_3,ema_3,atr,adx,cci,rsi,wr,roc,stochrsi_d,stochrsi_k,fi_3
0,AFKS,-0.003,0.001,0.001,-0.010,56600,20.093333,20.089749,0.016618,47.669710,-100.000000,40.693429,-87.500000,-0.059722,0.666667,0.333333,-231.890327
1,AFKS,-0.011,-0.002,0.000,-0.001,32200,20.088333,20.084874,0.015412,48.743718,-73.684211,38.390047,-93.750000,-0.069673,0.333333,0.000000,-132.045163
2,AFKS,0.013,0.002,0.001,0.015,114500,20.088000,20.088937,0.015275,54.164376,100.000000,72.901718,-0.000000,0.019909,0.222222,0.333333,792.727418
3,AFKS,-0.003,0.000,-0.005,-0.007,58000,20.087667,20.089469,0.016516,42.971297,-20.000000,52.367608,-36.842105,0.034859,0.267223,0.468337,193.363709
4,AFKS,-0.002,-0.005,-0.036,-0.031,137500,20.090333,20.088734,0.027678,57.971299,-100.000000,18.239671,-69.090909,-0.114542,0.423335,0.468337,-2034.568145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86553,YNDX,-2.600,-0.600,-0.600,-1.800,479,5163.533333,5162.656456,5.028904,63.056271,-94.117647,6.870108,-100.000000,-0.073589,0.445460,0.223238,-988.446808
86554,YNDX,-0.600,-2.600,0.000,1.200,128,5161.266667,5161.328228,4.685936,67.731297,-78.378378,34.789410,-83.333333,-0.038736,0.371048,0.333333,-417.423404
86555,YNDX,3.800,0.400,1.000,0.200,85,5161.466667,5162.564114,4.257291,58.511716,60.000000,39.336007,-78.787879,-0.007749,0.407746,0.666667,-200.211702
86556,YNDX,-2.400,-2.400,0.000,0.600,43,5161.733333,5161.982057,3.171527,52.365328,-58.823529,53.823719,-54.545455,0.038760,0.666667,1.000000,-87.205851
86557,YNDX,0.600,7.200,0.200,5.000,1641,5162.400000,5161.991028,4.781018,63.310147,100.000000,88.413166,-26.829268,0.112377,0.888889,1.000000,4058.897075

In [13]:
threeminutes.replace([np.inf, -np.inf], np.nan, inplace=True)

In [19]:
twentyfiveminutes.replace([np.inf, -np.inf], np.nan, inplace=True)

In [6]:
fiveminutes.interpolate()

,TICKER,OPEN,HIGH,LOW,CLOSE,VOL,sma_5,ema_5,atr,adx,cci,rsi,wr,roc,stochrsi_d,stochrsi_k,fi_5
0,AFKS,-0.003,0.001,0.001,-0.010,56600,20.0842,20.086328,0.017716,25.398487,19.047619,49.236847,-46.666667,0.074753,0.843251,0.598209,-102.060140
1,AFKS,-0.011,-0.002,0.000,-0.001,32200,20.0872,20.084219,0.016773,26.097280,-70.776256,48.000264,-51.724138,0.019924,0.598209,0.264876,-78.773427
2,AFKS,0.013,0.002,0.001,0.015,114500,20.0906,20.087146,0.016418,28.107675,86.419753,64.647827,-0.000000,0.009954,0.389670,0.305924,519.984382
3,AFKS,-0.003,0.000,-0.005,-0.007,58000,20.0896,20.088097,0.016935,23.131733,-19.323671,54.474568,-36.842105,-0.029860,0.335453,0.435559,211.322921
4,AFKS,-0.002,-0.005,-0.036,-0.031,137500,20.0884,20.088065,0.023548,32.005348,-166.666667,29.113289,-69.090909,-0.169230,0.392347,0.435559,-1279.951386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86553,YNDX,-2.600,-0.600,-0.600,-1.800,479,5164.1200,5163.810413,4.388384,49.256872,-127.659574,14.482694,-100.000000,-0.092937,0.187797,0.089902,-787.544886
86554,YNDX,-0.600,-2.600,0.000,1.200,128,5163.1200,5162.540275,4.310707,52.635465,-97.731239,29.404301,-83.333333,-0.038736,0.219993,0.333333,-473.829924
86555,YNDX,3.800,0.400,1.000,0.200,85,5162.8800,5162.960183,4.128566,52.001860,-39.529915,31.880534,-80.555556,-0.046477,0.363301,0.666667,-310.219949
86556,YNDX,-2.400,-2.400,0.000,0.600,43,5161.8000,5162.440122,3.502853,51.494977,-87.606838,39.799117,-72.222222,-0.023241,0.666667,1.000000,-198.213300
86557,YNDX,0.600,7.200,0.200,5.000,1641,5161.5600,5162.293415,4.402282,53.378463,166.666667,72.770757,-23.913043,0.100740,0.888889,1.000000,2602.857800

In [14]:
threeminutes = threeminutes.fillna(0)

In [35]:
np.isinf(seven.drop(['TICKER'], axis=1)).values.sum()

25591

In [37]:
np.isinf(seven.wr).values.sum()

1

In [34]:
seven.isnull().sum()

TICKER            0
OPEN              0
HIGH              0
LOW               0
CLOSE             0
VOL               0
sma_7             0
ema_7             0
atr               0
adx           86540
cci               0
rsi               0
wr              348
roc               0
stochrsi_d    71089
stochrsi_k    64963
fi_7              0
dtype: int64

In [7]:
fiveminutes.to_csv(r'D:\итоговые данные\новые\fiveminutes.csv', index=False, encoding='utf-8-sig')

In [5]:
fiveminutes = pd.concat([pd.read_csv(f) for f in list5])

In [7]:
fiveminutes

,TICKER,DATE,TIME,VOL,OPEN,HIGH,LOW,CLOSE,sma_5,ema_5,atr,adx,cci,rsi,wr,roc,stochrsi_d,stochrsi_k,fi_5
0,AFKS,20200803,110100,30500,20.094,20.094,20.079,20.091,20.0780,20.083992,0.018395,24.524995,59.490085,62.018654,-9.756098,0.204489,0.921458,0.931543,129.909790
1,AFKS,20200803,110200,56600,20.091,20.095,20.080,20.081,20.0842,20.086328,0.017716,25.398487,19.047619,49.236847,-46.666667,0.074753,0.843251,0.598209,-102.060140
2,AFKS,20200803,110300,32200,20.080,20.093,20.080,20.080,20.0872,20.084219,0.016773,26.097280,-70.776256,48.000264,-51.724138,0.019924,0.598209,0.264876,-78.773427
3,AFKS,20200803,110400,114500,20.093,20.095,20.081,20.095,20.0906,20.087146,0.016418,28.107675,86.419753,64.647827,-0.000000,0.009954,0.389670,0.305924,519.984382
4,AFKS,20200803,110500,58000,20.090,20.095,20.076,20.088,20.0896,20.088097,0.016935,23.131733,-19.323671,54.474568,-36.842105,-0.029860,0.335453,0.435559,211.322921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86554,YNDX,20201230,234600,479,5160.600,5166.600,5160.000,5160.000,5164.1200,5163.810413,4.388384,49.256872,-127.659574,14.482694,-100.000000,-0.092937,0.187797,0.089902,-787.544886
86555,YNDX,20201230,234700,128,5160.000,5164.000,5160.000,5161.200,5163.1200,5162.540275,4.310707,52.635465,-97.731239,29.404301,-83.333333,-0.038736,0.219993,0.333333,-473.829924
86556,YNDX,20201230,234800,85,5163.800,5164.400,5161.000,5161.400,5162.8800,5162.960183,4.128566,52.001860,-39.529915,31.880534,-80.555556,-0.046477,0.363301,0.666667,-310.219949
86557,YNDX,20201230,234900,43,5161.400,5162.000,5161.000,5162.000,5161.8000,5162.440122,3.502853,51.494977,-87.606838,39.799117,-72.222222,-0.023241,0.666667,1.000000,-198.213300
86558,YNDX,20201230,235000,1641,5162.000,5169.200,5161.200,5167.000,5161.5600,5162.293415,4.402282,53.378463,166.666667,72.770757,-23.913043,0.100740,0.888889,1.000000,2602.857800

In [10]:
fiveminutes.to_csv( "fiveminutes.csv", index=False, encoding='utf-8-sig')

In [43]:
sevenminutes = pd.concat([pd.read_csv(f) for f in list7])

In [45]:
sevenminutes.replace([np.inf, -np.inf], np.nan, inplace=True)

In [46]:
sevenminutes.to_csv( "sevenminutes.csv", index=False, encoding='utf-8-sig')

In [13]:
tenminutes = pd.concat([pd.read_csv(f) for f in list10])
fifteenminutes = pd.concat([pd.read_csv(f) for f in list15])

In [14]:
tenminutes.to_csv( "tenminutes.csv", index=False, encoding='utf-8-sig')

In [16]:
fifteenminutes.to_csv( "fifteenminutes.csv", index=False, encoding='utf-8-sig')

In [5]:
twentyminutes = pd.concat([pd.read_csv(f) for f in list20])
twentyfiveminutes = pd.concat([pd.read_csv(f) for f in list25])

In [18]:
twentyfiveminutes = pd.concat([pd.read_csv(f) for f in list25])

In [6]:
twentyminutes.to_csv( "twentyminutes.csv", index=False, encoding='utf-8-sig')

In [7]:
twentyfiveminutes.to_csv( "twentyfiveminutes.csv", index=False, encoding='utf-8-sig')

In [14]:
thirtyminutes = pd.concat([pd.read_csv(f) for f in list30])

In [15]:
thirtyminutes.to_csv( "thirtyminutes.csv", index=False, encoding='utf-8-sig')

In [20]:
fortyfiveminutes.to_csv( "fortyfiveminutes.csv", index=False, encoding='utf-8-sig')

In [21]:
sixtyminutes = pd.concat([pd.read_csv(f) for f in list60])

In [22]:
sixtyminutes.to_csv( "sixtyminutes.csv", index=False, encoding='utf-8-sig')

In [141]:
fiveminutes = pd.concat([pd.read_csv(f) for f in list5])
fiveminutes = fiveminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
sevenminutes = pd.concat([pd.read_csv(f) for f in list7])
sevenminutes = sevenminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
tenminutes = pd.concat([pd.read_csv(f) for f in list10])
tenminutes = tenminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
fifteenminutes = pd.concat([pd.read_csv(f) for f in list15])
fifteenminutes = fifteenminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
twentyminutes = pd.concat([pd.read_csv(f) for f in list20])
twentyminutes = twentyminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
twentyfiveminutes = pd.concat([pd.read_csv(f) for f in list25])
twentyfiveminutes = twentyfiveminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
thirtyminutes = pd.concat([pd.read_csv(f) for f in list30])
thirtyminutes = thirtyminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
fortyfiveminutes = pd.concat([pd.read_csv(f) for f in list45])
fortyfiveminutes = fortyfiveminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])
sixtyminutes = pd.concat([pd.read_csv(f) for f in list60])
sixtyminutes = sixtyminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])

MemoryError: Unable to allocate 88.4 MiB for an array with shape (7, 1655279) and data type float64

In [ ]:
np.nansum(threeminutes)

In [106]:
threeminutes = threeminutes.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','adx','cci','rsi','wr'])

In [64]:
threeminutes

In [108]:
threeminutes.to_csv( "threeminutes.csv", index=False, encoding='utf-8-sig')

In [109]:
data = pd.read_csv('threeminutes.csv', low_memory=False)

In [110]:
data

,TICKER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,sma,ema,atr,adx,cci,rsi,wr
0,AFKS,20200803,110100,20.094,20.094,20.079,20.091,30500,NaN,NaN,0.017427,46.058698,20.000000,67.821977,-13.793103
1,AFKS,20200803,110200,20.091,20.095,20.080,20.081,56600,NaN,NaN,0.016618,47.669710,-100.000000,40.693429,-87.500000
2,AFKS,20200803,110300,20.080,20.093,20.080,20.080,32200,NaN,NaN,0.015412,48.743718,-73.684211,38.390047,-93.750000
3,AFKS,20200803,110400,20.093,20.095,20.081,20.095,114500,NaN,NaN,0.015275,54.164376,100.000000,72.901718,-0.000000
4,AFKS,20200803,110500,20.090,20.095,20.076,20.088,58000,NaN,NaN,0.016516,42.971297,-20.000000,52.367608,-36.842105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655274,YNDX,20201230,234600,5160.600,5166.600,5160.000,5160.000,479,NaN,NaN,5.028904,63.056271,-94.117647,6.870108,-100.000000
1655275,YNDX,20201230,234700,5160.000,5164.000,5160.000,5161.200,128,NaN,NaN,4.685936,67.731297,-78.378378,34.789410,-83.333333
1655276,YNDX,20201230,234800,5163.800,5164.400,5161.000,5161.400,85,NaN,NaN,4.257291,58.511716,60.000000,39.336007,-78.787879
1655277,YNDX,20201230,234900,5161.400,5162.000,5161.000,5162.000,43,NaN,NaN,3.171527,52.365328,-58.823529,53.823719,-54.545455
1655278,YNDX,20201230,235000,5162.000,5169.200,5161.200,5167.000,1641,NaN,NaN,4.781018,63.310147,100.000000,88.413166,-26.829268

In [74]:
data = pd.read_csv('SNGS_200101_201231.csv')
data = data[data['<DATE>'] > 20200801]
data = data.drop(['<PER>'], axis=1)
data.columns = ['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL']
data = data.reset_index()
data = data.drop(['index'], axis = 1)
data

      TICKER      DATE    TIME    OPEN    HIGH     LOW   CLOSE     VOL
0       SNGS  20200803  100100  37.255  37.270  37.140  37.180  574200
1       SNGS  20200803  100200  37.160  37.195  37.125  37.160   87500
2       SNGS  20200803  100300  37.185  37.225  37.165  37.195   50600
3       SNGS  20200803  100400  37.195  37.220  37.195  37.210   16600
4       SNGS  20200803  100500  37.210  37.210  37.190  37.190   55700
...      ...       ...     ...     ...     ...     ...     ...     ...
77183   SNGS  20201230  234600  36.000  36.000  36.000  36.000    4500
77184   SNGS  20201230  234700  36.020  36.020  36.005  36.005    1600
77185   SNGS  20201230  234800  36.030  36.040  36.010  36.010   18300
77186   SNGS  20201230  234900  36.010  36.010  36.005  36.005    2800
77187   SNGS  20201230  235000  36.005  36.045  35.985  35.985  179200

[77188 rows x 8 columns]

In [47]:
data = pd.read_csv('AFKS.csv')
data.columns = ['TICKER','DATE','TIME','VOL','OPEN','HIGH','LOW','CLOSE']
data = data[data['DATE'] > 20200801]
data = data.reset_index()
data = data.drop(['index'], axis = 1)
data

      TICKER      DATE    TIME      VOL    OPEN    HIGH     LOW   CLOSE
0       AFKS  20200803  100100   383600  19.874  19.933  19.740  19.850
1       AFKS  20200803  100200   444700  19.850  19.990  19.848  19.920
2       AFKS  20200803  100300   498800  19.931  20.014  19.903  19.969
3       AFKS  20200803  100400  1012600  19.951  20.099  19.951  20.099
4       AFKS  20200803  100500   383700  20.099  20.099  20.015  20.057
...      ...       ...     ...      ...     ...     ...     ...     ...
83221   AFKS  20201230  234600    54400  28.721  28.738  28.707  28.707
83222   AFKS  20201230  234700     6800  28.710  28.710  28.707  28.710
83223   AFKS  20201230  234800     4700  28.710  28.711  28.710  28.710
83224   AFKS  20201230  234900     4900  28.714  28.715  28.714  28.714
83225   AFKS  20201230  235000    13500  28.714  28.730  28.707  28.711

[83226 rows x 8 columns]

In [34]:
data = pd.read_csv('YNDX.csv')
data

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,YNDX,1,20200103,100100,2712.2,2717.6,2697.4,2701.0,2919
1,YNDX,1,20200103,100200,2708.8,2712.0,2706.4,2711.4,1676
2,YNDX,1,20200103,100300,2707.4,2718.0,2706.4,2715.4,1972
3,YNDX,1,20200103,100400,2714.6,2717.0,2710.2,2715.0,1143
4,YNDX,1,20200103,100500,2715.0,2717.2,2712.6,2717.2,197
...,...,...,...,...,...,...,...,...,...
169450,YNDX,1,20201230,234600,5160.6,5166.6,5160.0,5160.0,479
169451,YNDX,1,20201230,234700,5160.0,5164.0,5160.0,5161.2,128
169452,YNDX,1,20201230,234800,5163.8,5164.4,5161.0,5161.4,85
169453,YNDX,1,20201230,234900,5161.4,5162.0,5161.0,5162.0,43
169454,YNDX,1,20201230,235000,5162.0,5169.2,5161.2,5167.0,1641

In [75]:
for i in (3, 5, 7, 10, 15, 20, 25, 30, 45, 60):
    win=i
    SMA = ta.trend.sma_indicator(data['OPEN'], window=win)
    EMA = ta.trend.ema_indicator(data['OPEN'], window=win)
    ATR = ta.volatility.average_true_range(data['HIGH'], data['LOW'], data['CLOSE'], window=win)
    ADX = ta.trend.adx(data['HIGH'], data['LOW'], data['CLOSE'], window=win)
    CCI = ta.trend.cci(data['HIGH'], data['LOW'], data['CLOSE'], window=win)
    RSI = ta.momentum.rsi(data['CLOSE'], window=win) 
    Williams = ta.momentum.williams_r(data['HIGH'], data['LOW'], data['CLOSE'], lbp=win)
    result = pd.concat([data, SMA, EMA,ATR,ADX,CCI,RSI,Williams], axis=1)
    win = str(win)
    result = result[result.index >= 60]
    result.to_csv('SNGS' + win + '.csv', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ta\trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
C:\ProgramData\Anaconda3\lib\site-packages\ta\trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

In [66]:
data = pd.read_csv('LKOH.csv')
data.columns = ['TICKER','DATE','TIME','VOL','OPEN','HIGH','LOW','CLOSE']
data = data.reindex(columns=['TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL'])
data = data[data['DATE'] > 20200801]
data = data.reset_index()
data = data.drop(['index'], axis = 1)
data

,TICKER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL
0,LKOH,20200803,100100,4731.6601,4743.9538,4731.2026,4743.8953,1996
1,LKOH,20200803,100200,4742.3884,4745.8197,4731.6691,4734.5661,3288
2,LKOH,20200803,100300,4732.5930,4734.6245,4724.2059,4726.1698,6558
3,LKOH,20200803,100400,4726.0627,4730.8928,4721.4072,4728.9686,4152
4,LKOH,20200803,100500,4727.4620,4733.6916,4727.4711,4733.1667,2157
...,...,...,...,...,...,...,...,...
86099,LKOH,20201230,234600,4823.5335,4825.5335,4823.0671,4823.6678,241
86100,LKOH,20201230,234700,4824.4664,4824.6006,4823.0671,4823.2013,386
86101,LKOH,20201230,234800,4823.0671,4824.6006,4823.0671,4824.1342,38
86102,LKOH,20201230,234900,4824.0000,4826.0000,4824.0000,4826.0000,287
86103,LKOH,20201230,235000,5173.0000,5173.0000,5167.0000,5169.5000,1110

In [72]:
data

      TICKER      DATE    TIME    OPEN    HIGH     LOW   CLOSE    VOL
0       ROSN  20200803  100100  356.00  356.25  355.25  355.25  20490
1       ROSN  20200803  100200  355.50  356.00  355.40  355.85  29700
2       ROSN  20200803  100300  355.65  356.05  355.60  355.95   4950
3       ROSN  20200803  100400  356.00  356.30  355.80  355.95  16810
4       ROSN  20200803  100500  356.00  356.00  355.80  355.90   2550
...      ...       ...     ...     ...     ...     ...     ...    ...
82057   ROSN  20201230  234600  435.30  435.55  435.30  435.35    600
82058   ROSN  20201230  234700  435.50  435.50  435.35  435.50    150
82059   ROSN  20201230  234800  435.50  435.60  435.50  435.50   1930
82060   ROSN  20201230  234900  435.50  435.55  435.35  435.55   5850
82061   ROSN  20201230  235000  435.55  435.65  435.10  435.10  15380

[82062 rows x 8 columns]

In [3]:
data = pd.read_csv('LKOH3.csv')
#'TICKER','DATE','TIME','OPEN','HIGH','LOW','CLOSE','VOL','sma','ema','atr','cci','rsi','wr'

In [20]:
sum(np.isinf(threeminutes['wr']))

0

In [21]:
sum(np.isnan(threeminutes['wr']))

0

In [47]:
threeminutes = threeminutes.drop('adx', axis=1)

In [22]:
threeminutes

,TICKER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,sma_3,ema_3,atr,adx,cci,rsi,wr
0,AFKS,20200803,110100,20.094,20.094,20.079,20.091,30500,20.088333,20.088497,0.017427,46.058698,20.000000,67.821977,-13.793103
1,AFKS,20200803,110200,20.091,20.095,20.080,20.081,56600,20.093333,20.089749,0.016618,47.669710,-100.000000,40.693429,-87.500000
2,AFKS,20200803,110300,20.080,20.093,20.080,20.080,32200,20.088333,20.084874,0.015412,48.743718,-73.684211,38.390047,-93.750000
3,AFKS,20200803,110400,20.093,20.095,20.081,20.095,114500,20.088000,20.088937,0.015275,54.164376,100.000000,72.901718,-0.000000
4,AFKS,20200803,110500,20.090,20.095,20.076,20.088,58000,20.087667,20.089469,0.016516,42.971297,-20.000000,52.367608,-36.842105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86554,YNDX,20201230,234600,5160.600,5166.600,5160.000,5160.000,479,5163.533333,5162.656456,5.028904,63.056271,-94.117647,6.870108,-100.000000
86555,YNDX,20201230,234700,5160.000,5164.000,5160.000,5161.200,128,5161.266667,5161.328228,4.685936,67.731297,-78.378378,34.789410,-83.333333
86556,YNDX,20201230,234800,5163.800,5164.400,5161.000,5161.400,85,5161.466667,5162.564114,4.257291,58.511716,60.000000,39.336007,-78.787879
86557,YNDX,20201230,234900,5161.400,5162.000,5161.000,5162.000,43,5161.733333,5161.982057,3.171527,52.365328,-58.823529,53.823719,-54.545455
86558,YNDX,20201230,235000,5162.000,5169.200,5161.200,5167.000,1641,5162.400000,5161.991028,4.781018,63.310147,100.000000,88.413166,-26.829268

In [36]:
sum(np.isnan(data['atr']))

0

In [ ]:
df.fillna(0)

In [24]:
threeminutes.to_csv(r'D:\stocks\итоговые данные\новые\threeminutes.csv', index=False, encoding='utf-8-sig')

In [31]:
data = pd.read_csv(r'D:\stocks\итоговые данные\threeminutes.csv')

In [15]:
threeminutes = threeminutes.interpolate()

In [33]:
data

,TICKER,DATE,TIME,OPEN,HIGH,LOW,CLOSE,VOL,sma_3,ema_3,atr,adx,cci,rsi,wr
0,AFKS,20200803,110100,20.094,20.094,20.079,20.091,30500,20.088333,20.088497,0.017427,46.058698,20.000000,67.821977,-13.793103
1,AFKS,20200803,110200,20.091,20.095,20.080,20.081,56600,20.093333,20.089749,0.016618,47.669710,-100.000000,40.693429,-87.500000
2,AFKS,20200803,110300,20.080,20.093,20.080,20.080,32200,20.088333,20.084874,0.015412,48.743718,-73.684211,38.390047,-93.750000
3,AFKS,20200803,110400,20.093,20.095,20.081,20.095,114500,20.088000,20.088937,0.015275,54.164376,100.000000,72.901718,-0.000000
4,AFKS,20200803,110500,20.090,20.095,20.076,20.088,58000,20.087667,20.089469,0.016516,42.971297,-20.000000,52.367608,-36.842105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655274,YNDX,20201230,234600,5160.600,5166.600,5160.000,5160.000,479,5163.533333,5162.656456,5.028904,63.056271,-94.117647,6.870108,-100.000000
1655275,YNDX,20201230,234700,5160.000,5164.000,5160.000,5161.200,128,5161.266667,5161.328228,4.685936,67.731297,-78.378378,34.789410,-83.333333
1655276,YNDX,20201230,234800,5163.800,5164.400,5161.000,5161.400,85,5161.466667,5162.564114,4.257291,58.511716,60.000000,39.336007,-78.787879
1655277,YNDX,20201230,234900,5161.400,5162.000,5161.000,5162.000,43,5161.733333,5161.982057,3.171527,52.365328,-58.823529,53.823719,-54.545455
1655278,YNDX,20201230,235000,5162.000,5169.200,5161.200,5167.000,1641,5162.400000,5161.991028,4.781018,63.310147,100.000000,88.413166,-26.829268

In [37]:
data.to_csv(r'D:\stocks\итоговые данные\threeminutes.csv', index=False, encoding='utf-8-sig')